body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    width: 70%;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    color: green;
}
